{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
    <meta name="renderer" content="webkit">
    <!--国产浏览器高速模式-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="穷在闹市"/>
    <!-- 作者 -->
    <meta name="revised" content="穷在闹市.v3, 2019/05/01"/>
    <!-- 定义页面的最新版本 -->
    <meta name="description" content="网站简介"/>
    <!-- 网站简介 -->
    <meta name="keywords" content="搜索关键字，以半角英文逗号隔开"/>
    <title>谣言检测</title>

    <!-- 公共样式 开始 -->
    <link rel="shortcut icon" href="{% static 'login/image/index004.png' %}"/>
    <link rel="bookmark" href="{% static 'login/image/index004.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/iconfont.css' %}">
    <script type="text/javascript" src="{% static 'login/framework/jquery-1.11.3.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'login/layui/css/layui.css' %}">
    <!--[if lt IE 9]>
	      	<script src="{% static 'login/framework/html5shiv.min.js'%}"></script>
	      	<script src="{% static 'login/framework/respond.min.js'%}"></script>
	    <![endif]-->
    <!-- 滚动条插件 -->
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/jquery.mCustomScrollbar.css' %}">
    <script src="{% static 'login/framework/jquery-ui-1.10.4.min.js' %}"></script>
    <script src="{% static 'login/framework/jquery.mousewheel.min.js' %}"></script>
    <script src="{% static 'login/framework/jquery.mCustomScrollbar.min.js' %}"></script>
    <script src="{% static 'login/framework/cframe.js' %}"></script><!-- 仅供所有子页面使用 -->
    <!-- 公共样式 结束 -->

    <link rel="stylesheet" type="text/css" href="{% static 'login/css/frameStyle.css' %}">
    <script src="{% static 'layui/layui.js' %}" charset="utf-8"></script>
    <script src="{% static 'layui/lay/modules/upload.js' %}" charset="utf-8"></script>
    <style>
        .layui-table img {
            max-width: none;
        }
    </style>

</head>

<body>
<button type='button' class='layui-btn' id='test1'><i class='layui-icon'>&#xe67c;</i>上传文件</button>

<div id="win" style="display:none" class="layui-progress layui-progress-big" lay-showPercent="yes" lay-filter="progressBar">
    <div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
</div>
<script>
    layui.use(['upload','element','layer'], function(){
			  var upload = layui.upload;
			  var element = layui.element;
			  var layer = layui.layer;
			  element.init();
			  //执行实例
			  var uploadInst = upload.render({
			    elem: '#test1' //绑定元素
			    ,url: '/user/ceshi' //上传接口
			    ,accept: 'file'
			    ,data: {path:$("#path").val()}
			 	,progress: function(e , percent) {
					console.log("进度：" + percent + '%');
					element.progress('progressBar',percent  + '%');
				}
			  	,before:function(){
			  		layer.open({
			  		  type: 1,
    			  	  title: '上传进度',
			  		  area:'500px',
			  		  skin: 'layui-layer-molv',
			  		  closeBtn: 0,
			  		  content: $('#win') //这里content是一个普通的String
			  		});
			  	}
			    ,done: function(res){
			    	 if(res.code == 0){
			    		 alert("上传成功");
			    		window.location.reload();
			    	}else{
			    		alert("上传失败");
			    	}
			    }
			    ,error: function(){
			      //请求异常回调
			      alert("上传过程请勿其他操作！请重新上传");
			    }
			  });
  };
</script>
</body>

</html>