<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="穷在闹市" />
		<!-- 作者 -->
		<meta name="revised" content="穷在闹市.v3, 2019/05/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>穷在闹市出品</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="../../../static/login/css/base.css">
		<link rel="stylesheet" type="text/css" href="../../../static/login/css/iconfont.css">
		<script type="text/javascript" src="../../../static/login/framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../static/login/layui/css/layui.css">
		<script type="text/javascript" src="../../../static/login/layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../../../static/login/css/jquery.mCustomScrollbar.css">
		<script src="../../../static/login/framework/jquery-ui-1.10.4.min.js"></script>
		<script src="../../../static/login/framework/jquery.mousewheel.min.js"></script>
		<script src="../../../static/login/framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="../../../static/login/framework/cframe.js"></script>
		<!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->

		<link rel="stylesheet" href="../../../static/login/css/iconfontStyle.css">
		<link rel="stylesheet" href="../../../static/login/css/iconfont.css">
	</head>

	<body>
		<div class="cBody">

			<div class="main markdown">
				<h1>IconFont 图标</h1>
				<ul class="icon_lists clear">

					<li>
						<i class="icon iconfont icon-shanchu"></i>
						<div class="name">删除</div>
						<div class="fontclass">.icon-shanchu</div>
					</li>

					<li>
						<i class="icon iconfont icon-tubiao202"></i>
						<div class="name">密码2</div>
						<div class="fontclass">.icon-tubiao202</div>
					</li>

					<li>
						<i class="icon iconfont icon-shangpin"></i>
						<div class="name">商品</div>
						<div class="fontclass">.icon-shangpin</div>
					</li>

					<li>
						<i class="icon iconfont icon-updir"></i>
						<div class="name">up-dir</div>
						<div class="fontclass">.icon-updir</div>
					</li>

					<li>
						<i class="icon iconfont icon-xiugaimima"></i>
						<div class="name">修改密码</div>
						<div class="fontclass">.icon-xiugaimima</div>
					</li>

					<li>
						<i class="icon iconfont icon-arrow-down"></i>
						<div class="name">下箭头</div>
						<div class="fontclass">.icon-arrow-down</div>
					</li>

					<li>
						<i class="icon iconfont icon-huojian"></i>
						<div class="name">火箭</div>
						<div class="fontclass">.icon-huojian</div>
					</li>

					<li>
						<i class="icon iconfont icon-zhishi"></i>
						<div class="name">知识</div>
						<div class="fontclass">.icon-zhishi</div>
					</li>

					<li>
						<i class="icon iconfont icon-caigou"></i>
						<div class="name">采购</div>
						<div class="fontclass">.icon-caigou</div>
					</li>

					<li>
						<i class="icon iconfont icon-084tuichu"></i>
						<div class="name">退出</div>
						<div class="fontclass">.icon-084tuichu</div>
					</li>

					<li>
						<i class="icon iconfont icon-iconfonticonfonti2copy"></i>
						<div class="name">上箭头</div>
						<div class="fontclass">.icon-iconfonticonfonti2copy</div>
					</li>

					<li>
						<i class="icon iconfont icon-icon1"></i>
						<div class="name">对</div>
						<div class="fontclass">.icon-icon1</div>
					</li>

					<li>
						<i class="icon iconfont icon-duigou"></i>
						<div class="name">对勾</div>
						<div class="fontclass">.icon-duigou</div>
					</li>

					<li>
						<i class="icon iconfont icon-yonghu1"></i>
						<div class="name">用户</div>
						<div class="fontclass">.icon-yonghu1</div>
					</li>

					<li>
						<i class="icon iconfont icon-yijiedan"></i>
						<div class="name">单据</div>
						<div class="fontclass">.icon-yijiedan</div>
					</li>

					<li>
						<i class="icon iconfont icon-biaodanwancheng"></i>
						<div class="name">表单完成</div>
						<div class="fontclass">.icon-biaodanwancheng</div>
					</li>

					<li>
						<i class="icon iconfont icon-icon"></i>
						<div class="name">报表</div>
						<div class="fontclass">.icon-icon</div>
					</li>

					<li>
						<i class="icon iconfont icon-peisong2"></i>
						<div class="name">配送2</div>
						<div class="fontclass">.icon-peisong2</div>
					</li>

					<li>
						<i class="icon iconfont icon-ai-wallet"></i>
						<div class="name">钱包</div>
						<div class="fontclass">.icon-ai-wallet</div>
					</li>

					<li>
						<i class="icon iconfont icon-mima1"></i>
						<div class="name">密码</div>
						<div class="fontclass">.icon-mima1</div>
					</li>

					<li>
						<i class="icon iconfont icon-up-copy"></i>
						<div class="name">向下三角箭头</div>
						<div class="fontclass">.icon-up-copy</div>
					</li>

					<li>
						<i class="icon iconfont icon-shanchu2"></i>
						<div class="name">删除</div>
						<div class="fontclass">.icon-shanchu2</div>
					</li>

					<li>
						<i class="icon iconfont icon-tongzhi"></i>
						<div class="name">通知</div>
						<div class="fontclass">.icon-tongzhi</div>
					</li>

					<li>
						<i class="icon iconfont icon-yonghu"></i>
						<div class="name">用户</div>
						<div class="fontclass">.icon-yonghu</div>
					</li>

					<li>
						<i class="icon iconfont icon-caiwu"></i>
						<div class="name">财务</div>
						<div class="fontclass">.icon-caiwu</div>
					</li>

					<li>
						<i class="icon iconfont icon-liuliangyunpingtaitubiao03"></i>
						<div class="name">分管管理</div>
						<div class="fontclass">.icon-liuliangyunpingtaitubiao03</div>
					</li>

					<li>
						<i class="icon iconfont icon-triangle_right"></i>
						<div class="name">向下三角箭头</div>
						<div class="fontclass">.icon-triangle_right</div>
					</li>

					<li>
						<i class="icon iconfont icon-dajiantouyou"></i>
						<div class="name">大箭头右</div>
						<div class="fontclass">.icon-dajiantouyou</div>
					</li>

					<li>
						<i class="icon iconfont icon-dajiantouzuo"></i>
						<div class="name">大箭头左</div>
						<div class="fontclass">.icon-dajiantouzuo</div>
					</li>

					<li>
						<i class="icon iconfont icon-yingyongzhongxin"></i>
						<div class="name">应用中心</div>
						<div class="fontclass">.icon-yingyongzhongxin</div>
					</li>

					<li>
						<i class="icon iconfont icon-tubiao-"></i>
						<div class="name">商户经营概览</div>
						<div class="fontclass">.icon-tubiao-</div>
					</li>

					<li>
						<i class="icon iconfont icon-zhuyidapx"></i>
						<div class="name">注意 #d8432a & 12px</div>
						<div class="fontclass">.icon-zhuyidapx</div>
					</li>

					<li>
						<i class="icon iconfont icon-yunying"></i>
						<div class="name">运营</div>
						<div class="fontclass">.icon-yunying</div>
					</li>

					<li>
						<i class="icon iconfont icon-caigoudan"></i>
						<div class="name">采购单</div>
						<div class="fontclass">.icon-caigoudan</div>
					</li>

					<li>
						<i class="icon iconfont icon-xiaolian-line"></i>
						<div class="name">符号-笑脸</div>
						<div class="fontclass">.icon-xiaolian-line</div>
					</li>

					<li>
						<i class="icon iconfont icon-dingdan"></i>
						<div class="name">订单</div>
						<div class="fontclass">.icon-dingdan</div>
					</li>

					<li>
						<i class="icon iconfont icon-xiangxiajiantoucuxiao"></i>
						<div class="name"> 向下箭头粗小</div>
						<div class="fontclass">.icon-xiangxiajiantoucuxiao</div>
					</li>

					<li>
						<i class="icon iconfont icon-xiangshangjiantoucuxiao"></i>
						<div class="name">向上箭头粗小</div>
						<div class="fontclass">.icon-xiangshangjiantoucuxiao</div>
					</li>

					<li>
						<i class="icon iconfont icon-survey"></i>
						<div class="name">反馈问题</div>
						<div class="fontclass">.icon-survey</div>
					</li>

					<li>
						<i class="icon iconfont icon-xianshiqi"></i>
						<div class="name">显示器</div>
						<div class="fontclass">.icon-xianshiqi</div>
					</li>

					<li>
						<i class="icon iconfont icon-xiugaimima1"></i>
						<div class="name">修改密码</div>
						<div class="fontclass">.icon-xiugaimima1</div>
					</li>

					<li>
						<i class="icon iconfont icon-shezhi"></i>
						<div class="name">首页-设置</div>
						<div class="fontclass">.icon-shezhi</div>
					</li>

					<li>
						<i class="icon iconfont icon-gerenzhongxin-denglu"></i>
						<div class="name">个人中心-登录</div>
						<div class="fontclass">.icon-gerenzhongxin-denglu</div>
					</li>

					<li>
						<i class="icon iconfont icon-shouye"></i>
						<div class="name">首页</div>
						<div class="fontclass">.icon-shouye</div>
					</li>

					<li>
						<i class="icon iconfont icon-peisong"></i>
						<div class="name">配送</div>
						<div class="fontclass">.icon-peisong</div>
					</li>

					<li>
						<i class="icon iconfont icon-ercifenjian"></i>
						<div class="name">二次技术</div>
						<div class="fontclass">.icon-ercifenjian</div>
					</li>

					<li>
						<i class="icon iconfont icon-huaban"></i>
						<div class="name">星号</div>
						<div class="fontclass">.icon-huaban</div>
					</li>

					<li>
						<i class="icon iconfont icon-wodeyewuyuan"></i>
						<div class="name">我的业务员</div>
						<div class="fontclass">.icon-wodeyewuyuan</div>
					</li>

					<li>
						<i class="icon iconfont icon-tuichuquanping"></i>
						<div class="name">退出全屏</div>
						<div class="fontclass">.icon-tuichuquanping</div>
					</li>

					<li>
						<i class="icon iconfont icon-quanping"></i>
						<div class="name">全屏</div>
						<div class="fontclass">.icon-quanping</div>
					</li>

					<li>
						<i class="icon iconfont icon-biaodanpeizhi"></i>
						<div class="name">表单配置</div>
						<div class="fontclass">.icon-biaodanpeizhi</div>
					</li>

					<li>
						<i class="icon iconfont icon-gongyingshang"></i>
						<div class="name">供应商</div>
						<div class="fontclass">.icon-gongyingshang</div>
					</li>

					<li>
						<i class="icon iconfont icon-shuangxiajiantou-"></i>
						<div class="name">双下箭头-01</div>
						<div class="fontclass">.icon-shuangxiajiantou-</div>
					</li>

					<li>
						<i class="icon iconfont icon-shuangshangjiantou-"></i>
						<div class="name">双上箭头-01</div>
						<div class="fontclass">.icon-shuangshangjiantou-</div>
					</li>

				</ul>

				<h2 id="font-class-">font-class引用</h2>
				<hr>

				<p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
				<p>与unicode使用方式相比，具有如下特点：</p>
				<ul>
					<li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
					<li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
					<li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
					<li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
				</ul>
				<p>使用步骤如下：</p>
				<h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>

				<pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
				<h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
				<pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
				<blockquote>
					<p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
				</blockquote>
			</div>

		</div>
	</body>

</html>