{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="HEU谣言检测" />
		<!-- 作者 -->
		<meta name="revised" content="HEU谣言检测.v3, 2019/05/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>HEU谣言检测</title>

		<!-- 公共样式 开始 -->
		<link rel="shortcut icon" href="{% static 'login/image/index004.png' %}"/>{# 顶部导航栏图片 #}
		<link rel="bookmark" href="{% static 'login/image/index004.png' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'login/css/base.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'login/css/iconfont.css' %}">
		<script type="text/javascript" src="{% static 'login/framework/jquery-1.11.3.min.js' %}" ></script>
		<link rel="stylesheet" type="text/css" href="{% static 'login/layui/css/layui.css' %}">
	    <!--[if lt IE 9]>
	      	<script src="{% static 'login/framework/html5shiv.min.js'%}"></script>
	      	<script src="{% static 'login/framework/respond.min.js'%}"></script>
	    <![endif]-->
		<script type="text/javascript" src="{% static 'login/layui/layui.js' %}"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="{% static 'login/css/jquery.mCustomScrollbar.css' %}">
		<script src="{% static 'login/framework/jquery-ui-1.10.4.min.js' %}"></script>
		<script src="{% static 'login/framework/jquery.mousewheel.min.js' %}"></script>
		<script src="{% static 'login/framework/jquery.mCustomScrollbar.min.js' %}"></script>
		<script src="{% static 'login/framework/cframe.js' %}"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->

		<link rel="stylesheet" type="text/css" href="{% static 'login/css/frameStyle.css' %}">
		<script type="text/javascript" src="{% static 'login/framework/frame.js' %}" ></script>

	</head>

	<body>
		<!-- 左侧菜单 - 开始 -->
		<div class="frameMenu">
		    <div class="logo">
		        <img src="{% static 'login/image/index004.png' %}"/>
		        <div class="logoText">
		            <h1>HEU谣言检测</h1>
		            <p>HeuRumorDetection</p>
		        </div>
		    </div>
		    <div class="menu">
		        <ul>
		        	<li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('/index_inside/',this)">
                            <i class="iconfont icon-shouye left"></i>首页</a> <!--onclick 当按钮被单击时触发函数-->
		            </li>
                    <li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-gerenzhongxin-denglu left">
                        </i>登录<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
                            <dt><a href="/login_new/">用户登录</a></dt>
		                	<dt><a href="/admin/">管理员登录</a></dt>
		                </dl>
		            </li>
                    <li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-liuliangyunpingtaitubiao03 left">
                        </i>注册<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="/register_new/">用户注册</a></dt>
		                	<dt><a href="/admin_register/">管理员注册</a></dt>
		                </dl>
		            </li>
		        </ul>
		    </div>
		</div>
		<!-- 左侧菜单 - 结束 -->

		<div class="main">
			<!-- 头部栏 - 开始 -->
			<!--div class="frameTop">
				<img class="jt" src="{% static 'login/images/top_jt.png' %}"/>

				<div class="topMenu">
					<ul>
                        <li style="float:left">{{ request.session.user_nickname }}</li>
						<li><a href="javascript:void(0)" onclick="menuCAClick('tgls/modify_password.html',this)">
                            <i class="iconfont icon-yonghu1"></i>个人中心</a></li>
						<li><a href="javascript:void(0)" onclick="menuCAClick('tgls/modify_password.html',this)"><i class="iconfont icon-xiugaimima"></i>修改密码</a></li>
						<li><a href="/user_login_new/"><i class="iconfont icon-084tuichu"></i>注销</a></li>
					</ul>
				</div>
			</div-->
			<!-- 头部栏 - 结束 -->

			<!-- 核心区域 - 开始 -->
			<div class="frameMain">
				<div class="title" id="frameMainTitle">
					<span><i class="iconfont icon-xianshiqi"></i>首页</span>
				</div>
				<div class="con">
					<iframe id="mainIframe" src="/index_inside/" scrolling="no"></iframe>
				</div>
			</div>
			<!-- 核心区域 - 结束 -->
		</div>
	</body>

</html>